body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e3f2fd, #ffffff);
    text-align: center;
    margin: 0;
    padding: 0;
}

/*Titulo */
h1 {
    color: #0d47a1;
    margin-top: 30px;
    font-size: 36px;
}

/*Parrafos */
p {
    max-width: 700px;
    margin: 10px auto 30px auto;
    color: #444;
    font-size: 16px;
    line-height: 1.6;
}

/*Tabla*/
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 70%;
    background-color: white;
}